.text-white{
	color:white;
}

@media (max-width: 768px) {
  #header{
    margin-top: 150px;
  }
}

@media (min-width: 768px) {
  .text-white{
		margin-top: 100px;
    width: 600px;
  }

	#loginform{
		margin-top:25px;
	}
}
